@use "./reset";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: sans-serif;
    font-weight: normal;
    font-size: min(4vw, 1em);
    color: #333;

    width: 100%;
    min-height: 100vh;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;

    max-width: 1200px;
    margin-inline: auto;

    & > * {
        width: 100%;
    }
}

nav {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #999;

    font-size: larger;

    ul {
        list-style: none;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.5em;

        li {
            .nav-link {
                text-decoration: none;
                color: #333;

                &.active {
                    font-weight: bold;
                    color: brown;
                }
            }
        }
    }
}

h1 {
    font-size: max(4vw, 2em);
    word-wrap: break-word;

    strong {
        font-weight: bold;
        color: brown;
    }
}

h2 {
    color: pink;
    font-weight: bold;
}

pre {
    background-color: #333;
    color: #fff;
    line-height: 1.5rem;
    padding-inline: 1rem;
    margin-block: 1rem;
    font-family: monospace;
    border-radius: 10px;
    scroll-behavior: smooth;
    overflow-x: scroll;
    display: block;
}

main {
    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5em;
        margin-top: 4rem;
        
        p {
            width: 100%;
            font-size: larger;
            line-height: 1.5rem;
        }

        .boxes {
            width: 100%;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: 1fr;
            gap: 2em;

            & > div {
                height: 100%;

                h3 {
                    font-weight: bold;
                    color: brown;
                    font-size: max(1.5vw, 1.2em);
                }

                h4 {
                    color: pink;
                }
            }
        }
    }
}