

.mainMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: block;

    li {
        margin: 1em 1em;
        display: inline-block;

        .navlink, .currentNavlink {
            text-decoration: none;
            color: #111;
            border: 1px solid #111;
            border-radius: 10px;
            padding: 1em 2em;

            &:hover {
                border: 1px solid #777;
                color: #777;
            }

            &:active {
                background-color: #777;
                color: #111;
            }
        }

        .currentNavlink {
            background-color: #ddd;
            color: #111;
        }

    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.home, .alert {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-size: 1em;
}

.title {
    background-color: #333;
    color: #fff;
    padding: 1em;
    border-radius: 1em;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 2em;

    img {
        border-radius: 10px;
        margin-bottom: 1em;
    }
}

.alert {
    color: red;
    font-weight: bold;
    font-size: 2em;
}
